@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

/* CSS Reset */
/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: #060425;
  background-image: url("https://www.transparenttextures.com/patterns/cartographer.png");
  font-family: "Rubik", sans-serif;
  font-size: larger;
  color: white
}
/*
  5. Improve media defaults
*/
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
/*
  6. Remove built-in form typography styles
*/
input, button, textarea, select {
  font: inherit;
}
/*
  7. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* APP Styles */
.container {
  max-width: 1200px;
  margin: 0 auto;
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
} 

.title {
  text-align: center;
  padding: 3rem 1rem;
  font-size: 3rem;
  margin-bottom: 1rem;
}

.todos {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  font-size: 1.4rem;
  border: 1px solid #ccc;
  border-radius: 1rem;
  background-color: rgb(255, 255, 255, 0.1);
  width: 70%;
  transition: all 0.2s ease-in-out;

  &:hover {
    background-color: rgb(255, 255, 255, 0.2);;
    transform: scale(1.01);
  }
}

.mutations {
  display: flex;
  gap: 0.2em;
}

.todo_status {
  color: white;
  background: none;
  font-size: 1.75rem;
  border: none;
  line-height: 1.5;
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  &.hover {
    transform: scale(1.1);
  }
}

.todo_delete {
  color: white;
  background: none;
  font-size: 1.5rem;
  border: none;
  line-height: 1.5;
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  &.hover {
    transform: scale(1.1);
  }
}

/* FORM Styles */
.form {
  display: flex;
  gap: 1rem;
  width: 70%;
  margin: 1rem auto;
}

.form_input {
  flex: 1;
  padding: 0.5rem 1rem;
  border: 1px solid #ccc;
  border-radius: 1rem;
}

.form_button {
  padding: 0.5rem 1.25rem;
  border: none;
  border-radius: 1rem;
  background-color: rgb(255, 255, 255, 0.9);
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  &:hover {
    color: white;
    background-color: rgb(255, 255, 255, 0.4);
    transform: scale(1.01);
  }}

  @media (max-width: 420px) {
    .title{
      font-size:2.5rem;
    }

    .mutations {
      gap: 0;
    }
    .todo_status,
    .todo_delete {
      font-size: 1.25rem;
    }

    .form {
      width: 90%;
    }

    .todo {
      width: 90%;
      font-size: 1.2rem;
    }
  }